

# <font color="#ff4500" style="font-size: 30px;">Código Python Todo Dia</font>

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 159</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b> Elabore um script que crie um banco de dados denominado estoque.db, usando SQLite3. A tabela ESTOQUE criada deve armazenar as seguintes informações: nome, preço e quantidade.

## obs: Lembrete, para criar uma tabela usando SQL:
    
```python
    CREATE TABLE NOME (
    COLUNA1 datatype,
    COLUNA2 datatype,
    COLUNA3 datatype,
    COLUNA4 datatype,
    ...
    COLUNAn datatype
 
)
```
</b></i>     
</p>

---

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, inspect, text

# sqlalchemy : SQLAlchemy é uma biblioteca Python para interagir com bancos de dados relacionais. 

# create_engine: cria uma conexão com o banco.

# inspect: inspeciona a estrutura do banco.

# text: permite escrever consultas SQL de forma mais flexível.

In [2]:
# Caminho para o arquivo .db
caminho_banco = "banco_de_dados_SQLite/estoque.db"

# Criação da engine
engine = create_engine(f'sqlite:///{caminho_banco}')

# Instância do objeto inspector
inspector = inspect(engine)

# Lista os nomes das tabelas no banco de dados
print(inspector.get_table_names())

['ESTOQUE']

In [3]:
def sql_df(query):
    "função que recebe e executa as querys"
    with engine.connect() as conexao:  # Cria uma conexão com o banco de dados
        consulta = conexao.execute(text(query))  # Executa a consulta SQL
        dados = consulta.fetchall()  # Busca todos os resultados da consulta
    return pd.DataFrame(dados, columns=consulta.keys())  # Retorna os resultados como DataFrame

In [4]:
query= 'SELECT * FROM estoque'

df_estoque = sql_df(query)
df_estoque

Empty DataFrame
Columns: [NOME, PRECO, QUANTIDADE]
Index: []

In [5]:
# eu ja tinha a tabela, mas o outro jeito é: 

import sqlite3  # Importa a biblioteca SQLite3

# Define a conexão com o banco de dados
conn = sqlite3.connect('estoque.db')

# Cria um cursor para executar comandos SQL
cur = conn.cursor()

#deleta a tabela CLIENTE caso já exista
cur.execute('DROP TABLE IF EXISTS ESTOQUES')

# Cria a tabela ESTOQUE
consulta_ = cur.execute('''CREATE TABLE ESTOQUES (
                nome TEXT,
                preco REAL,
                quantidade INTEGER
            )''')

# Salva as alterações
conn.commit()

# Fecha a conexão
conn.close()

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 160</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b> Elabore um script que crie um banco de dados denominado cliente.db, usando SQLite3. A tabela CLIENTE criada deve armazenar as seguintes informações: id, nome, sobrenome, idade, peso, sexo e renda.



## obs: Lembrete, para criar uma tabela usando SQL:
    
```python
    CREATE TABLE NOME (
    COLUNA1 datatype,
    COLUNA2 datatype,
    COLUNA3 datatype,
    COLUNA4 datatype,
    ...
    COLUNAn datatype
 
)
```
</b></i>     
</p>

---

In [6]:
# JEITO 1

cliente_df = pd.DataFrame(columns= ['id', 'nome', 'sobrenome', 'idade', 'peso', 'sexo', 'renda'])

cliente_df.to_sql('cliente_df',engine,index=False)

inspector = inspect(engine)
print(inspector.get_table_names())

['ESTOQUE', 'cliente_df']

In [7]:
query= 'SELECT * FROM cliente_df'

df_cliente = sql_df(query)
df_cliente

Empty DataFrame
Columns: [id, nome, sobrenome, idade, peso, sexo, renda]
Index: []

In [8]:
# JEITO 2

# Define a conexão com o banco de dados
conexao = sqlite3.connect('cliente.db')

# Cria um cursor para executar comandos SQL
cursor = conexao.cursor()

# deleta a tabela CLIENTE caso já exista
cursor.execute('DROP TABLE IF EXISTS df_cliente')

# Cria a tabela CLIENTE
consulta_ = cursor.execute("""CREATE TABLE df_cliente(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    NOME CHAR(30) NOT NULL,
    SOBRENOME CHAR(20),
    IDADE INT,
    PESO FLOAT,
    SEXO CHAR(1),
    RENDA FLOAT
    )""")

# Salva as alterações
conexao.commit()

# Fecha a conexão
conexao.close()

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 161</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b> Adicione dois produtos na tabela ESTOQUE criada no exercício 1.



## Lembrete:
    
```python
INSERT INTO NOME_TABELA (coluna1, coluna2, coluna3,..., colunaN)
    VALUES (valor1, valor2, valor3,..., valorN);
 
```
</b></i>     
</p>

---

In [9]:
# JEITO 1

QUERY = '''INSERT INTO ESTOQUE (nome, preco, quantidade)
           VALUES ('PS5', 5000, 2),
                  ('XBOX', 3000, 5)'''


with engine.connect() as conexao:  # Cria uma conexão com o banco de dados
    consulta = conexao.execute(text(QUERY))  # Executa a consulta SQL

In [10]:
query= 'SELECT * FROM estoque'

df_estoque = sql_df(query)
df_estoque

   NOME   PRECO  QUANTIDADE
0   PS5  5000.0           2
1  XBOX  3000.0           5

In [22]:
import sqlite3  # Importa a biblioteca SQLite3

# Define a conexão com o banco de dados
conn = sqlite3.connect('estoque.db')

# Cria um cursor para executar comandos SQL
cur = conn.cursor()

# Cria a tabela ESTOQUE
consulta_ = cur.execute('''INSERT INTO ESTOQUES (nome, preco, quantidade)
           VALUES ('PS5', 5000, 2),
                  ('XBOX', 3000, 5)''')

# Salva as alterações
conn.commit()

# Fecha a conexão
conn.close()

In [23]:
# Define a conexão com o banco de dados
conn = sqlite3.connect('estoque.db')

# Cria um cursor para executar comandos SQL
cur = conn.cursor()

# Executa uma consulta SQL para selecionar todos os dados da tabela ESTOQUE
cur.execute('SELECT * FROM ESTOQUES')

# Obtém todos os dados retornados pela consulta
dados = cur.fetchall()

# Cria um DataFrame do Pandas com os dados obtidos
estoques = pd.DataFrame(dados, columns=['Nome', 'Preço', 'Quantidade'])

# Exibe o DataFrame
print(estoques)

# Fecha a conexão
conn.close()

   Nome   Preço  Quantidade
0   PS5  5000.0           2
1  XBOX  3000.0           5