

# <font color="#ff4500" style="font-size: 30px;">Código Python Todo Dia</font>

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 40</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que mostre de 1 até 50 na tela.</b></i>     
</p>

---

In [2]:
for i in range(1,51):
    print(i, end="  ")

1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 41</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que mostre de 50 até 1 na tela.</b></i>     
</p>

---

In [8]:
for i in range(50,0, -1):
    print(i, end="  ")

50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 42</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que mostre de 150 até 200 na tela.</b></i>     
</p>

---

In [9]:
for i in range(150,201):
    print(i, end="  ")

150  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195  196  197  198  199  200

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 43</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa de contagem regressiva, ou seja, imprima na tela o seguinte padrão numérico:

```
5
4
3
2
1
0
```
</b></i>     
</p>

---

In [53]:
import numpy as np
import pandas as pd
import math

In [25]:
x = int(input("Diga a cronometragem: "))
cronometragem = list(range(x, -1, -1))

for i in cronometragem:
    print(i)

Diga a cronometragem: 5
5
4
3
2
1
0

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 44</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Faça um programa que imprima na tela de 1 até um número digitado pelo usuário.
</b></i>     
</p>

---

In [30]:
x = int(input("Diga o ultimo número: "))

for i in range(1, x+1):
    print(i)

Diga o ultimo número: 5
1
2
3
4
5

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 45</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que mostre na tela os 20 primeiros múltiplos de 5.
</b></i>     
</p>

---

In [36]:
multiplos = [i for i in range(0,101,5)]
print(multiplos)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 46</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada (multiplicação) de um número inserido pelo usuário.


</b></i>     
</p>

---

In [39]:
x = int(input("Diga um número: "))
for i in range(0,11):
    print(f"{x} X {i} : {x*i}")

Diga um número: 8
8 X 0 : 0
8 X 1 : 8
8 X 2 : 16
8 X 3 : 24
8 X 4 : 32
8 X 5 : 40
8 X 6 : 48
8 X 7 : 56
8 X 8 : 64
8 X 9 : 72
8 X 10 : 80

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 47</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Utilizando estruturas de repetição escreva um programa que mostre os resultados da tabuada de multiplicação dos números entre 1 e 10, como segue.


```
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
 ```
   
</b></i>     
</p>

---

In [41]:
for i in range(1,11):
    for y in range(1,11):
        print(f"{i} X {y} : {i*y}")

1 X 1 : 1
1 X 2 : 2
1 X 3 : 3
1 X 4 : 4
1 X 5 : 5
1 X 6 : 6
1 X 7 : 7
1 X 8 : 8
1 X 9 : 9
1 X 10 : 10
2 X 1 : 2
2 X 2 : 4
2 X 3 : 6
2 X 4 : 8
2 X 5 : 10
2 X 6 : 12
2 X 7 : 14
2 X 8 : 16
2 X 9 : 18
2 X 10 : 20
3 X 1 : 3
3 X 2 : 6
3 X 3 : 9
3 X 4 : 12
3 X 5 : 15
3 X 6 : 18
3 X 7 : 21
3 X 8 : 24
3 X 9 : 27
3 X 10 : 30
4 X 1 : 4
4 X 2 : 8
4 X 3 : 12
4 X 4 : 16
4 X 5 : 20
4 X 6 : 24
4 X 7 : 28
4 X 8 : 32
4 X 9 : 36
4 X 10 : 40
5 X 1 : 5
5 X 2 : 10
5 X 3 : 15
5 X 4 : 20
5 X 5 : 25
5 X 6 : 30
5 X 7 : 35
5 X 8 : 40
5 X 9 : 45
5 X 10 : 50
6 X 1 : 6
6 X 2 : 12
6 X 3 : 18
6 X 4 : 24
6 X 5 : 30
6 X 6 : 36
6 X 7 : 42
6 X 8 : 48
6 X 9 : 54
6 X 10 : 60
7 X 1 : 7
7 X 2 : 14
7 X 3 : 21
7 X 4 : 28
7 X 5 : 35
7 X 6 : 42
7 X 7 : 49
7 X 8 : 56
7 X 9 : 63
7 X 10 : 70
8 X 1 : 8
8 X 2 : 16
8 X 3 : 24
8 X 4 : 32
8 X 5 : 40
8 X 6 : 48
8 X 7 : 56
8 X 8 : 64
8 X 9 : 72
8 X 10 : 80
9 X 1 : 9
9 X 2 : 18
9 X 3 : 27
9 X 4 : 36
9 X 5 : 45
9 X 6 : 54
9 X 7 : 63
9 X 8 : 72
9 X 9 : 81
9 X 10 : 90
10 X 1 : 10
10 X 2 : 20
10 X 3 : 30
10 X 4 : 40
10 X 5 : 50
10 X 6 : 60
10 X 7 : 70
10 X 8 : 80
10 X 9 : 90
10 X 10 : 100

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 48</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Em um único loop escreva um programa que mostre na tela de 1 a 10 três vezes e ao final mostre a mensagem Fim . No primeiro loop utilize for e nos dois loops seguintes while. O resultado do seu programa deverá ter o seguinte formato:


```
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
Fim
```

</b></i>     
</p>

---

In [3]:
for y in range(0,3):
    for i in range(1,11):
        print(i)
print('fim')

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
fim

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 49</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que peça ao usuário números entre 0-10. Se o usuário inserir um número fora desse intervalo o programa deverá finalizar com uma mensagem personalizada.

</b></i>     
</p>

---

In [9]:
while True:
    x = int(input("digite um número entre 0-10: "))
    if x<=10 and x>=0:
        print(x)
        break
    else:
        print("valor fora do intervalo")
        break

digite um número entre 0-10: 11
valor fora do intervalo

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 50</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Em um único loop escreva um programa que mostre na tela de 0-5, cinco vezes e ao final mostre a mensagem Fim . Utilize apenas for em sua implementação. Seu programa deverá gerar um output com o seguinte formato:


```
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
Fim
```

</b></i>     
</p>

---

In [10]:
for y in range(0,5):
    for i in range(1,6):
        print(i)
print('fim')

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
fim

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 51</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que peça números reais (float) do usuário indefinidamente . Caso os números digitados não estejam situados entre 0 e 10 o programa deverá ser finalizado, mostrando a soma e a quantidade de números digitados.
</b></i>     
</p>

---

In [16]:
y = list()
while True:
    x = float(input("digite um número entre 0-10: "))
    if x<=10 and x>=0:
        y.append(x)
    else:
        print("Fim do programa")
        print(f"soma: {sum(y)} \ntamanho: {len(y)}")
        break

digite um número entre 0-10: 6
digite um número entre 0-10: 7
digite um número entre 0-10: 8
digite um número entre 0-10: 9
digite um número entre 0-10: 10
digite um número entre 0-10: 11
Fim do programa
soma: 40.0
tamanho: 5

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 52</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que peça ao usuário 20 números reais e ao final mostre a soma e a média dos números digitados.
</b></i>     
</p>

---

In [19]:
from statistics import mean

y = []
for i in range (0,20):
    x=float(input("Digite um número: "))
    y.append(x)
print(f"\nSoma dos números --> {sum(y)}")
print(f"Média dos números --> {mean(y)}")

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: 7
Digite um número: 8
Digite um número: 9
Digite um número: 1
Digite um número: 10
Digite um número: 11
Digite um número: 12
Digite um número: 13
Digite um número: 14
Digite um número: 15
Digite um número: 16
Digite um número: 17
Digite um número: 18
Digite um número: 19

Soma dos números --> 191.0
Média dos números --> 9.55

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 53</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Elabore um programa que calcule e mostre na tela os números pares entre 1 e 200. Os números devem ser mostrados na tela de acordo com o formato a seguir:


```
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 
```
</b></i>     
</p>

---

In [21]:
for i in range (2,201, 2):
    print(i, end= " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 54</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Elabore um programa que calcule e mostre na tela os números ímpares entre 1 e 200. Os números devem ser mostrados na tela de acordo com o formato a seguir:


```
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199  
```
</b></i>     
</p>

---

In [22]:
for i in range (1, 201, 2):
    print(i, end= " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 55</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que peça um número inteiro do usuário e mostre na tela o fatorial deste número.
</b></i>     
</p>

---

In [46]:
# Método 1
x = int(input("Escreva um número inteiro: "))
display(math.factorial(x))

# Método 2

x = int(input("Escreva um número inteiro: "))
fatorial = 1
while True:
    if x != 0:
        fatorial *= x * (x -1)
        x= x-2
    else:
        break
        
display(fatorial)   

# Método 3

num=int(input('Digite um número inteiro: '))
fatorial=1
for i in range(1,num+1):
    fatorial=fatorial*i
print(f"\n{fatorial}")

Escreva um número inteiro: 10

3628800

Escreva um número inteiro: 10

3628800

Digite um número inteiro: 10

3628800

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 56</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que peça números inteiros positivos indefinidamente e armazene-os em uma lista. O programa deverá ser encerrado caso o número digitado seja negativo ou nulo. Ao final mostre na tela a quantidade números pares e ímpares.
</b></i>     
</p>

---

In [51]:
x = []
while True:
    y=int(input("Escreva um número inteiro positivo: "))
    if y >= 0:
       x.append(y)
    else:
        break
        
p = [o for o in x if o % 2 == 0]
n = [o for o in x if o % 2 != 0]

print(f"\nPares: {len(p)}\nImpares: {len(n)}")

Escreva um número inteiro positivo: 1
Escreva um número inteiro positivo: 2
Escreva um número inteiro positivo: 3
Escreva um número inteiro positivo: 4
Escreva um número inteiro positivo: 5
Escreva um número inteiro positivo: 6
Escreva um número inteiro positivo: -1

Pares: 3
Impares: 3

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 57</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Elabore um programa que embaralhe a lista a seguir e mostre na tela cada elemento.


```
lista=['A','B','C','D','E','F','G','H','I','J','K','L','M'] 
```


O output do programa pode seguir o padrão abaixo:




```
A
C
B
K
J
F
M
D
H
G
L
I
E
```

</b></i>     
</p>

---

In [59]:
import random

# Método 1
lista=['A','B','C','D','E','F','G','H','I','J','K','L','M']

while len(lista)!=0:
    valor = random.choice(lista)
    display(valor)
    lista.remove(valor)

# Método 2 (esse é o melhor)

import random

lista = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M']

# Embaralhe a lista
random.shuffle(lista)

# Itere sobre a lista embaralhada
for elemento in lista:
    print(elemento)

'J'

'A'

'C'

'B'

'M'

'E'

'G'

'I'

'F'

'K'

'H'

'D'

'L'

D
H
K
M
G
J
B
F
A
L
E
I
C

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 58</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Peça 5 números do usuário e mostre na tela a média dos números digitados.
</b></i>     
</p>

---

In [60]:
x=[]
while len(x)!=5:
    x.append(float(input("Digite um número: ")))
    
print(mean(x))

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
3.0

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 59</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Considere a lista de produtos abaixo e implemente duas soluções para somar o valor total deste carrinho de compras.

Dica: utilize List comprehension e/ou  loop for.

```
lista_compras=[
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]
    
```
    
</b></i>     
</p>

---

In [80]:
lista_compras=[
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]

precos = [item['preco'] for item in lista_compras]
round(sum(precos),1)

127.2

Eu estava cometendo um erro, então deixo o texto abaixo com a explicação:

> Tenha em mente que o erro original ocorreu porque você estava tentando acessar diretamente a chave 'preco' de um dicionário em uma lista, mas é necessário iterar sobre a lista e, em seguida, acessar os dicionários dentro dela.

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 60</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Considere a lista de produtos abaixo e implemente um programa que calcule e mostre na tela (nome e preço) o produto mais caro e o produto mais barato, desta cesta de bens.

```
lista_compras=[
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]
    
```
    
</b></i>     
</p>

---

In [43]:
lista_compras=[
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]

# Extraindo Valores
precos = [item['preco'] for item in lista_compras]
nomes = [item['nome'] for item in lista_compras]

# Criando Dataframe
df = pd.DataFrame(precos, nomes).reset_index()
df.columns = ['Nome', 'Preco']
df = df.sort_values(by='Preco', ascending=False)

# Exibir
primeiro_e_ultimo = df.iloc[[0, -1]]
primeiro_e_ultimo

      Nome  Preco
2    carne  20.93
5  pimenta   1.27

In [44]:
# Método 2

lista_compras = [
    {'nome':'feijão','preco':9.79},
    {'nome':'arroz','preco':3.45},
    {'nome':'carne','preco':20.93},
    {'nome':'macarrão','preco':2.99},
    {'nome':'vinagre','preco':2.25},
    {'nome':'pimenta','preco':1.27},
    {'nome':'batata','preco':5.67},
    {'nome':'leite','preco':12},
    {'nome':'manteiga','preco':7.99},
    {'nome':'margarina','preco':2.5},
    {'nome':'cenoura','preco':3.55},
    {'nome':'sabão','preco':4.79},
    {'nome':'chá','preco':3.45},
    {'nome':'morango','preco':17.8},
    {'nome':'soja','preco':20.2},
    {'nome':'goiaba','preco':3.45},
    {'nome':'melão','preco':5.12},
]

produto_mais_caro = None
produto_mais_barato = None

for produto in lista_compras:
    if produto_mais_caro is None or produto['preco'] > produto_mais_caro['preco']:
        produto_mais_caro = produto
    if produto_mais_barato is None or produto['preco'] < produto_mais_barato['preco']:
        produto_mais_barato = produto

print(f"Produto mais caro: {produto_mais_caro['nome']} - Preço: {produto_mais_caro['preco']:.2f}")
print(f"Produto mais barato: {produto_mais_barato['nome']} - Preço: {produto_mais_barato['preco']:.2f}")

Produto mais caro: carne - Preço: 20.93
Produto mais barato: pimenta - Preço: 1.27

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 61</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que peça 5 números inteiros não-nulos ao usuário e mostre na tela o quadrado de cada número digitado.
</b></i>     
</p>

---

In [50]:
x = []
while True:
    num = int(input(f"Digite o número {len(x)+1}: "))
    if num !=0 and len(x)<4:
        x.append(num**2)
    else:
        break

print("\n",x)

Digite o número 1: 1
Digite o número 2: 2
Digite o número 3: 3
Digite o número 4: 4
Digite o número 5: 5

 [1, 4, 9, 16]

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 62</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Considere um número inteiro positivo n especificado pelo usuário. Elabore um programa que calcule e mostre na tela:

```
A soma dos n primeiros números inteiros não-nulos (1+2+3+ ... +n) ;

A soma dos n primeiros números pares;

A soma dos n primeiros números ímpares.
```

</b></i>     
</p>

---

In [61]:
num = int(input(f"Digite o número: "))

# Soma
soma = sum(list(range(1,num+1)))
print(f"\nSoma geral: {soma}")

#Pares
lista = list(range(1,num+1))
pares = [x for x in lista if x%2==0]
pares_soma = sum(pares)
print(f"Soma de Pares: {pares_soma}")

#impares
#Pares
lista = list(range(1,num+1))
impares = [x for x in lista if x%2!=0]
impares_soma = sum(impares)
print(f"Soma de Impares: {impares_soma}")

Digite o número: 10

Soma geral: 55
Soma de Pares: 30
Soma de Impares: 25

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 63</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa para checar se um determinado número é primo ou não.

Lembrete: um número primo pode ser dividido por apenas dois números, quais sejam: ele mesmo e o número um.



2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89 e 97  (Números primos entre 1 e 100)
</b></i>     
</p>

---

In [61]:
num = int(input(f"Digite o número: "))


lista=[]
for i in range(2, int(num ** 0.5) + 1):
    if num%i == 0:
        lista.append(num%i)
if len(lista) != 0 or num == 1:
    print(f"{num} não é Primo !!")
else:
    print(f"{num} é Primo !!")

Digite o número: 11
11 é Primo !!

In [62]:
num = int(input("Digite o número: "))

if num <= 1:
    print(f"{num} não é primo.")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(f"{num} é primo.")
    else:
        print(f"{num} não é primo.")

Digite o número: 10
10 não é primo.

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 64</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Elabore um programa para imprimir todos os números primos existentes em um intervalo delimitado pelo usuário.
</b></i>     
</p>

---

In [101]:
intervalo_inferior = int(input("Digite o intervalo_inferior: ")) # 2
intervalo_superior = int(input("Digite o intervalo_superior: ")) # 13
print()

intervalo = list(range(intervalo_inferior, intervalo_superior+1))

contador = 0
for valor in intervalo:
    for num in range(1, valor+1):
        if valor%num == 0:
            contador += 1
    if contador == 2:
        print(valor, end=' ')
    contador = 0

Digite o intervalo_inferior: 1
Digite o intervalo_superior: 100

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# OBSERVAÇÃO:


```python
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

intervalo_inferior = int(input("Digite o intervalo_inferior: "))
intervalo_superior = int(input("Digite o intervalo_superior: "))
print("Números primos no intervalo:")
for num in range(intervalo_inferior, intervalo_superior + 1):
    if is_prime(num):
        print(num, end=' ')
```

## Nesta versão, utilizamos o "Teste de primalidade de Fermat" e o "Teorema de Fermat para primos" para verificar se um número é primo. Isso é mais eficiente do que a verificação completa com loops aninhados.

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 65</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Elabore um programa para imprimir a sequência de Fibonacci até o n-ésimo termo definido pelo usuário. Certifique que o usuário digite um número inteiro positivo.



0,1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584,...
</b></i>     
</p>

---

In [15]:
sequencia = [0,1]
while True:
    x_input = input("Digite o n-ésimo termo da sequência de Fibonacci: ")

    try:
        x = int(x_input)
        if x >= 0:
            for i in range(x - 1):
                valor = sequencia[-1] + sequencia[-2]
                sequencia.append(valor)
            break
        else:
            print("Por favor, digite um número inteiro não negativo.")
    except ValueError:
        print("Por favor, digite um número inteiro válido.")
            
sequencia

Digite o n-ésimo termo da sequência de Fibonacci: 8

[0, 1, 1, 2, 3, 5, 8, 13, 21]

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 66</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que mostre na tela o tipo de cada dado da lista a seguir. Utilize a função built-in type.


```
lista=[
    (1,),
    [1,2,3],
    (1),
    {4,5},
    {'nome':'A','value':2},
    10,
    [],
    1+3j,
    1.2,
    True,
    False,
    None,
    'Hello World!',
]

```
</b></i>     
</p>

---

In [18]:
lista=[
    (1,),
    [1,2,3],
    (1),
    {4,5},
    {'nome':'A','value':2},
    10,
    [],
    1+3j,
    1.2,
    True,
    False,
    None,
    'Hello World!',
]

for objeto in lista:
    print(f"{type(objeto)}\n")

<class 'tuple'>

<class 'list'>

<class 'int'>

<class 'set'>

<class 'dict'>

<class 'int'>

<class 'list'>

<class 'complex'>

<class 'float'>

<class 'bool'>

<class 'bool'>

<class 'NoneType'>

<class 'str'>

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 67</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa para somar todos os números naturais em um intervalo definido pelo usuário..
</b></i>     
</p>

---

In [23]:
while True:
    x_input = input("Digite o intervalo da soma: ")

    try:
        x = int(x_input)
        if x >= 0:
            soma = sum(list(range(0,x+1)))
            print(soma)
            break
        else:
            print("Por favor, digite um número inteiro não negativo.")
    except ValueError:
        print("Por favor, digite um número inteiro válido.")

Digite o intervalo da soma: 50
1275

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 68</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que replique o padrão de caracteres descrito a seguir.

Dica: use loop for.

```
*
**
***
****
*****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*
```

</b></i>     
</p>

---

In [53]:
n = int(input("número de *: "))
for i in range(1,2*n):
    if i <= n:
        print("*"*i)
    else:
        print("*"*(2 * n - i))

número de *: 10
*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 69</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Considere a lista abaixo e escreva um programa que mostre na tela a quantidade de números pares e ímpares.


```
lista=[944, 52, 161, 436, 77, 217, 
616, 639, 280, 277, 907, 735, 321, 
194, 736, 130, 793, 148, 799, 631, 
906, 417, 186, 913, 446, 537, 86, 75, 
328, 77, 899, 481, 303, 997, 212, 217,
696, 391, 402, 800, 709, 293, 9, 700, 
108, 253, 562, 166, 252, 315, 655, 680,
944, 8, 850, 765, 821, 216, 685, 666,
860, 32, 492, 880, 714, 424, 270, 308,
641, 83, 555, 807, 840, 724, 193, 256, 
556, 665, 902, 714, 564, 13, 903, 625, 14, 
551, 301, 915, 633, 781, 427, 517, 372, 
164, 469, 194, 5, 818, 776,
] 
```
    
</b></i>     
</p>

---

In [55]:
lista=[944, 52, 161, 436, 77, 217, 
616, 639, 280, 277, 907, 735, 321, 
194, 736, 130, 793, 148, 799, 631, 
906, 417, 186, 913, 446, 537, 86, 75, 
328, 77, 899, 481, 303, 997, 212, 217,
696, 391, 402, 800, 709, 293, 9, 700, 
108, 253, 562, 166, 252, 315, 655, 680,
944, 8, 850, 765, 821, 216, 685, 666,
860, 32, 492, 880, 714, 424, 270, 308,
641, 83, 555, 807, 840, 724, 193, 256, 
556, 665, 902, 714, 564, 13, 903, 625, 14, 
551, 301, 915, 633, 781, 427, 517, 372, 
164, 469, 194, 5, 818, 776,
]

In [58]:
# Resolução 1
par, impar = 0, 0
for num in lista:
    if num%2 == 0:
        par += 1
    else:
        impar += 1
print(par)
print(impar)

# Resolução 2
lista_par=[numero for numero in lista if numero%2==0]
lista_impar=[numero for numero in lista if numero%2!=0]
print(f'Quantidade de números pares: {len(lista_par)}')
print(f'Quantidade de números pares: {len(lista_impar)}')

50
49
Quantidade de números pares: 50
Quantidade de números pares: 49

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 70</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa para replicar o padrão descrito a seguir.


```
1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010
1111111111111111111111
121212121212121212121212
13131313131313131313131313
1414141414141414141414141414
151515151515151515151515151515
16161616161616161616161616161616
1717171717171717171717171717171717
181818181818181818181818181818181818
19191919191919191919191919191919191919
2020202020202020202020202020202020202020
```
    
</b></i>     
</p>

---

In [63]:
# Método 1
for i in range(0,21):
    print(str(i) * int(i))
    
# Método 2
print()
for num in range(1,21):
    print(f'{num}'*num)

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010
1111111111111111111111
121212121212121212121212
13131313131313131313131313
1414141414141414141414141414
151515151515151515151515151515
16161616161616161616161616161616
1717171717171717171717171717171717
181818181818181818181818181818181818
19191919191919191919191919191919191919
2020202020202020202020202020202020202020

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010
1111111111111111111111
121212121212121212121212
13131313131313131313131313
1414141414141414141414141414
151515151515151515151515151515
16161616161616161616161616161616
1717171717171717171717171717171717
181818181818181818181818181818181818
19191919191919191919191919191919191919
2020202020202020202020202020202020202020

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 71</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que replique o padrão de números a seguir, tal que o usuário insira o n-ésimo termo.


```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5 
1 2 3 4 5 6 
1 2 3 4 5 6 7 
1 2 3 4 5 6 7 8 
1 2 3 4 5 6 7 8 9 
1 2 3 4 5 6 7 8 9 10 
      ...
1 2 3 4 5 6 7 8 9 10 ... n
```
    
</b></i>     
</p>

---

In [65]:
max = int(input("Digite o número máximo"))
for num in range(1,max+1):
    print(list(range(1,num+1)))

Digite o número máximo10
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
max = int(input("Digite o número máximo: "))
for num in range(1, max+1):
    linha = ' '.join(map(str, range(1, num+1)))
    print(linha)

Digite o número máximo: 15
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

O método `.join()` em Python.

**Sintaxe:**
```python
string_resultante = separador.join(iterável)
```

- `string_resultante`: Esta é a string resultante após a concatenação dos elementos do iterável. Cada elemento do iterável é separado por `separador`.

- `separador`: É a string que será usada para separar os elementos do iterável na string resultante.

- `iterável`: Uma sequência de elementos que serão concatenados na string resultante. O iterável pode ser uma lista, tupla, conjunto, ou qualquer objeto iterável.

**Aplicações:**

O método `.join()` é comumente usado para criar strings formatadas a partir dos elementos de uma lista ou outro tipo de sequência. Aqui estão algumas aplicações comuns:

1. **Concatenar uma lista de strings:**
   Você pode usar `.join()` para unir os elementos de uma lista de strings em uma única string. Por exemplo:

   ```python
   palavras = ["Olá", "Mundo", "Python"]
   frase = " ".join(palavras)  # "Olá Mundo Python"
   ```

2. **Converter uma lista de números em uma única string formatada:**
   É útil quando você deseja criar uma string a partir de uma lista de números e aplicar um formato específico. Por exemplo:

   ```python
   números = [1, 2, 3, 4, 5]
   texto_formatado = ", ".join(map(str, números))  # "1, 2, 3, 4, 5"
   ```

3. **Unir caminhos de diretórios:**
   Ao trabalhar com caminhos de arquivos e diretórios, você pode usar `.join()` para criar caminhos concatenados de maneira eficiente. Por exemplo:

   ```python
   diretorio = "/home/usuario"
   arquivo = "documento.txt"
   caminho_completo = "/".join([diretorio, arquivo])  # "/home/usuario/documento.txt"
   ```

4. **Gerar CSV (Comma-Separated Values):**
   É comum usar `.join()` para criar linhas de um arquivo CSV separadas por vírgulas. Por exemplo:

   ```python
   dados = ["Nome", "Idade", "Cidade"]
   linha_csv = ",".join(dados)  # "Nome,Idade,Cidade"
   ```

Em resumo, o método `.join()` é uma maneira eficaz de criar strings concatenadas a partir de elementos de um iterável, usando um separador específico entre eles. É uma ferramenta útil em várias situações, especialmente quando você precisa formatar strings e dados de maneira consistente.

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 72</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Ordene em ordem crescente/decrescente das músicas mais tocadas.

Dica: use sorted().


```
lista=[
	('Música3',{'toques':137}),
	('Música7',{'toques':2}),
	('Música11',{'toques':30}),
	('Música9',{'toques':45}),
	('Música10',{'toques':79}),
	('Música2',{'toques':190}),
	('Música8',{'toques':201}),
	('Música5',{'toques':44}),
	('Música1',{'toques':29}),
	('Música6',{'toques':14}),
	('Música4',{'toques':14}),
]
```
    
</b></i>     
</p>

---

In [2]:
lista=[
    ('Música3',{'toques':137}),
    ('Música7',{'toques':2}),
    ('Música11',{'toques':30}),
    ('Música9',{'toques':45}),
    ('Música10',{'toques':79}),
    ('Música2',{'toques':190}),
    ('Música8',{'toques':201}),
    ('Música5',{'toques':44}),
    ('Música1',{'toques':29}),
    ('Música6',{'toques':14}),
    ('Música4',{'toques':14}),
]

In [63]:
# método 1
primeiros_valores = [item[0] for item in lista]

values = [item[1]['toques'] for item in lista]

df = pd.DataFrame({'Músicas': primeiros_valores, 'Toques': values})
display(df.sort_values(by="Toques", ascending=False))
display(df.sort_values(by="Toques", ascending=True))

     Músicas  Toques
6    Música8     201
5    Música2     190
0    Música3     137
4   Música10      79
3    Música9      45
7    Música5      44
2   Música11      30
8    Música1      29
9    Música6      14
10   Música4      14
1    Música7       2

     Músicas  Toques
1    Música7       2
9    Música6      14
10   Música4      14
8    Música1      29
2   Música11      30
7    Música5      44
3    Música9      45
4   Música10      79
0    Música3     137
5    Música2     190
6    Música8     201

In [65]:
#Método 2
lista=[
('Música3',{'toques':137}),
('Música7',{'toques':2}),
('Música11',{'toques':30}),
('Música9',{'toques':45}),
('Música10',{'toques':79}),
('Música2',{'toques':190}),
('Música8',{'toques':201}),
('Música5',{'toques':44}),
('Música1',{'toques':29}),
('Música6',{'toques':14}),
('Música4',{'toques':14}),
]
print(sorted(lista,key=lambda musica:musica[1]['toques']))
print()
print(sorted(lista,key=lambda musica:musica[1]['toques'],reverse=True))

[('Música7', {'toques': 2}), ('Música6', {'toques': 14}), ('Música4', {'toques': 14}), ('Música1', {'toques': 29}), ('Música11', {'toques': 30}), ('Música5', {'toques': 44}), ('Música9', {'toques': 45}), ('Música10', {'toques': 79}), ('Música3', {'toques': 137}), ('Música2', {'toques': 190}), ('Música8', {'toques': 201})]

[('Música8', {'toques': 201}), ('Música2', {'toques': 190}), ('Música3', {'toques': 137}), ('Música10', {'toques': 79}), ('Música9', {'toques': 45}), ('Música5', {'toques': 44}), ('Música11', {'toques': 30}), ('Música1', {'toques': 29}), ('Música6', {'toques': 14}), ('Música4', {'toques': 14}), ('Música7', {'toques': 2})]

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 73</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que gere 100 números aleatórios entre 1 e 1000 e armazene-os em uma lista.

    
</b></i>     
</p>

---

In [76]:
from random import sample

x = sample(range(1,1001), 100)
print(x)

[52, 774, 205, 17, 908, 9, 810, 780, 827, 984, 14, 781, 258, 428, 188, 373, 487, 884, 45, 840, 404, 290, 762, 892, 922, 867, 752, 891, 789, 256, 230, 273, 495, 458, 684, 941, 423, 49, 859, 857, 776, 555, 593, 48, 70, 11, 748, 830, 741, 899, 848, 612, 577, 802, 990, 847, 62, 347, 885, 779, 685, 543, 673, 365, 466, 564, 997, 530, 753, 719, 439, 755, 947, 861, 974, 44, 828, 197, 877, 698, 504, 563, 807, 757, 252, 552, 436, 814, 913, 561, 936, 690, 538, 694, 414, 722, 95, 856, 94, 671]

---
A função `sample` da biblioteca `random` embaralha os elementos em sua lista de origem (no caso, `range(1, 1001)`) e retorna uma amostra de tamanho especificado. Como resultado, os números não estarão em ordem crescente e não estarão "lado a lado".

Se você deseja uma lista de números consecutivos em ordem crescente, você pode simplesmente usar uma compreensão de lista para criar essa lista. Aqui está como você pode fazer isso:

```python
from random import randint

x = [randint(1, 1000) for _ in range(100)]
```

Isso criará uma lista de 100 números aleatórios entre 1 e 1000, mas eles podem se repetir, e a ordem não será necessariamente crescente. Se você quiser que a lista seja única e crescente, você pode gerar uma lista única e ordená-la posteriormente:

```python
x = sorted(list(set([randint(1, 1000) for _ in range(100)]))
```

Dessa forma, você obtém 100 números únicos em ordem crescente.

---

In [133]:
import random 

x = [randint(1, 1000) for _ in range(100)]
print(x)

[142, 317, 403, 356, 7, 931, 206, 471, 803, 184, 647, 43, 623, 488, 40, 988, 30, 368, 483, 225, 830, 723, 400, 988, 44, 73, 836, 37, 109, 584, 408, 300, 63, 168, 825, 136, 335, 201, 570, 956, 668, 791, 361, 888, 981, 16, 73, 814, 785, 645, 159, 787, 256, 203, 358, 652, 938, 716, 928, 714, 604, 218, 59, 940, 354, 120, 745, 341, 754, 954, 239, 384, 788, 607, 42, 692, 223, 615, 349, 65, 242, 386, 454, 937, 353, 441, 563, 765, 391, 833, 667, 766, 502, 189, 538, 368, 356, 567, 178, 316]

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 74</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Escreva um programa que gere 100 números reais aleatórios entre 0 e 1 e armazene-os em uma lista. Ao final seu programa deverá mostrar na tela as seguintes informações:

Maior número;

Menor número;

Soma de todos os números gerados;

Média e desvio padrão.
</b></i>     
</p>

---

In [97]:
import numpy as np

x = [round(random.random(),2) for _ in range(100)]

print(f"o maior número é: {max(x)}")
print(f"o menor número é: {min(x)}")
print(f"a soma dos valores é: {round(sum(x),2)}")
print(f"a média dos números é: {round(np.mean(x),2)}")
print(f"o desvio padrão dos números é: {round(np.std(x),2)}")

o maior número é: 1.0
o menor número é: 0.0
a soma dos valores é: 48.46
a média dos números é: 0.48
o desvio padrão dos números é: 0.29

In [100]:
# Método 2
from statistics import mean,stdev
 
lista=[]
 
for num in range(1,101):
    lista.append(random.random())
 
print(f'Maior número: {max(lista)}')
print(f'Menor número: {min(lista)}')
print(f'Soma dos números: {sum(lista)}')
print(f'Média dos números gerados: {mean(lista)}')
print(f'Desvio padrão dos números gerados: {stdev(lista)}')

Maior número: 0.9982972911103061
Menor número: 0.015782286099052745
Soma dos números: 52.43820997346924
Média dos números gerados: 0.5243820997346924
Desvio padrão dos números gerados: 0.3062791583269553

<hr style="border: 2px solid #4500ff;">

# <font color="#4500ff" style="font-size: 25px;">Exercício 75</font>
<hr style="border: 2px solid #4500ff;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b>Utilize for para obter a inversão de uma cadeia de string. Exemplos:

```    
!
d
l
r
o
W
 
o
l
l
e
H
 
 
 
!dlroW olleH
```

</b></i>     
</p>

---

In [131]:
x = 'Hello World!'
lista = []

# primeira coisa
for i in range(1,len(x)+1):
    print(x[-i])
print()

# segunda coisa
for char in x:
    lista.append(char)
lista.reverse()
lista = "".join(lista)
print(lista)

!
d
l
r
o
W

o
l
l
e
H

!dlroW olleH

In [132]:
# método 2

string1='Hello World!'
for index in range(len(string1)-1,-1,-1):
    print(string1[index])
    
for index in range(len(string1)-1,-1,-1):
    print(string1[index],end='')

!
d
l
r
o
W

o
l
l
e
H
!dlroW olleH